<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="API_NAME" value="Bootstrap"/>
        <server name="API_DEBUG" value="true"/>
        <server name="API_STANDARDS_TREE" value="prs"/>
        <server name="API_SUBTYPE" value="bootstrap"/>
        <server name="API_PREFIX" value=""/>
        <server name="API_DOMAIN" value="http://localhost"/>
        <server name="API_VERSION" value="v1"/>
        <server name="API_CONDITIONAL_REQUEST" value="false"/>
        <server name="API_STRICT" value="true"/>
        <server name="API_DEFAULT_FORMAT" value="json"/>
    </php>
</phpunit>
